REQUEST_SCHEME=http                     # Destination service scheme (http or https)
SERVER_NAME_OR_IP=127.0.0.1             # Destination port of the service/server you want the proxy to forward to.
                                        #   If in a docker-compose file this can be the container name
SERVER_PORT=7250                        # Destination port of the service you want the proxy to forward to
SERVER_HEADER_NAME=MyServer             # Nginx server header, basic obfuscation that the server is nginx

CERT_COUNTRY=US                         # Self-Signed Cert: Country
CERT_ST=CA                              # Self-Signed Cert: State
CERT_LOCALITY=Beverly Hills             # Self-Signed Cert: City or Locality
CERT_ORGANIZATION=testing               # Self-Signed Cert: Organization name
CERT_CN=testing.local                   # Self-Signed Cert: Your protected container name or IP if desired.

REDIRECT_PROXY_ACCESS_TO_STDOUT=FALSE   # Redirects the default simple-nginx-rp log to standard out
                                        #   and docker logs. TRUE/FALSE (case-sensitive)
